<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Note Wrangler</title>
    <link rel="stylesheet" href="assets/styles/bootstrap.css"></link>
    <link rel="stylesheet" href="assets/styles/bootstrap-theme.css"></link>
  </head>
  <body>
    <h1>Hello World</h1>
  </body>


  <!-- Vendor -->
  <script src="assets/javascript/vendor/jquery-3.1.1.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>

  <!-- App -->
  <!-- Directives -->
  <!-- Controllers -->
  <!-- Services -->


</html>
